# Java/Maven
target/
*.class
*.jar
*.war
*.ear

# Go
dist/
assinatura-*-*
*.exe
*.exe.sha256
*.exe.pem
*.exe.sig
*.sha256
*.pem
*.sig

# IDE/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
